.listItem{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    border-radius: 10px;
    padding:10px;
}

/*********** img *********/

.listItem_img{
    width:100%;
    margin-bottom: 5px;
}

.listItem_img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/*********** description *********/

/* .listItem_description{
    padding: 0px 15px 10px 15px ;
} */

.listItem_description h4{
    color: var(--grey);
    margin-bottom: 10px;
}

.listItem_description p{
    color: var(--greyTwo);
    font-size: 0.75rem;
    margin-bottom: 20px;
    width: 100%;
    
    line-height: 16px;
    height: calc(4 * 16px);
    overflow: hidden;
    position: relative;
}

.listItem_description p::after{
    content:'';

    position: absolute;
    bottom:0;
    right: 0;
    height: 16px;
    width: 75%;

    background: linear-gradient(
        90deg, transparent, var(--main-color)
    );
}

.listItem_description button{
    background-color: var(--main-color);
    border: 0.5px solid var(--grey);
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 10px 0px;
    width: 100%;
}