.formContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 50px;

    width: 100%;
}

.formContainer input{
    background-color: var(--main-color);
    border: 0.7px solid var(--grey);
    border-radius: 5px;
    color: white;
    font-size: 0.7rem;
    padding: 4px 0px 4px 10px;
    width: 220px;
}

.formContainer button{
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.7rem;
    margin-left: 6px;
    padding: 4px 10px;
}

@media (max-width: 768px){

    .formContainer input{
        width: 150px;
    }
}

@media (max-width: 480px){

    .formContainer{
        padding-right: 25px;
    }

    .formContainer input{
        width: 130px;
    }
}